.all-forms-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  text-align: start;
}

.form-container>button {
  display: flex;
  padding: 18px;
  font-size: 24px;
  background: white;
  text-align: start;
  outline: none;
  border: none;
}

.button-title {
  flex: 1;
}

.chevron {
  transition: transform 200ms ease;
}

.chevron.open {
  transform: rotate(180deg) translateY(-1px);
}

.form-wrapper {
  padding: 0 18px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease, margin-top 300ms ease, padding-bottom 300ms ease;
}

.form-wrapper.open {
  grid-template-rows: 1fr;
  margin-top: 12px;
  padding-bottom: 26px;
}

.form-wrapper>form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-div {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 3px;
}

input {
  padding: 10px;
  background-color: #F3F4F6;
  color: black;
  border: none;
  border-radius: 12px;
}

textarea {
  padding: 6px;
  font-size: 1rem;
  height: 200px;
  border-radius: 12px;
  resize: none;
  outline: none;
  white-space: pre-line;
}

.char-count {
  font-size: 12px;
  color: #6B7280;
  text-align: right;
  position: relative;
  right: 4px;
}