.all-forms-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  text-align: start;
}

button {
  display: flex;
  padding: 18px;
  font-size: 24px;
  background: white;
  text-align: start;
  outline: none;
  border: none;
}

.button-title {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.chevron {
  transition: transform 200ms ease;
}

.chevron.open {
  transform: rotate(180deg) translateY(-1px);
}

.form-wrapper {
  padding: 0 18px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease, margin-top 300ms ease, padding-bottom 300ms ease;
}

.form-wrapper.open {
  grid-template-rows: 1fr;
  margin-top: 12px;
  padding-bottom: 26px;
}

.form-wrapper>* {
  overflow: hidden;
}

.form-wrapper>form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.education-item-container,
.experience-item-container {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 18px;
  gap: 32px;
}

.buttons-container>button {
  padding: 0;
}

.main-button {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 20px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.education-item-container:hover .delete-button,
.experience-item-container:hover .delete-button {
  opacity: 1;
}

.input-div {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 3px;
}

input {
  padding: 10px;
  background-color: #F3F4F6;
  color: black;
  border: none;
  border-radius: 12px;
}

.date-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.date-container>div {
  flex: 1;
}

.add-button {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #cdcece;
  border-radius: 20px;
}

textarea {
  padding: 6px;
  font-size: 1rem;
  height: 200px;
  border-radius: 12px;
  resize: none;
  outline: none;
  white-space: pre-line;
}

.role-description-textarea {
  height: 150px;
}

.char-count {
  font-size: 12px;
  color: #6B7280;
  text-align: right;
  position: relative;
  right: 4px;
}