form {
  min-width: 300px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  text-align: start;
}

form>h1 {
  font-size: 24px;
}

.input-div {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  gap: 3px;
}

input {
  padding: 10px;
  background-color: #F3F4F6;
  color: black;
  border: none;
  border-radius: 12px;
}